#userList {
  background-color: #fff9a2;
  border-top: solid 2px gray;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  margin: auto;
}

phrase-list {
  color: black;
  text-decoration-style: none;
}

.phrase {
  background-color: #cccbbf;
  border: solid 2px black;
  border-radius: 5px;
  margin: 5px;
  padding: 8px;
}

.left {
  display: inline-block;
  text-align: left;
  width: 40%;
  border-right: solid 2px gray;
}

h4 {
  color: #7f7c51;
  font-size: 1.2em;
  margin: 2px;
  padding: none;
}

p {
  margin: 2px;
  font-size: 1.2em;
}

.right {
  display: inline-block;
  align-content: right;
  width: 40%;
  text-align: right;
}

.delete {
  background-image: url('deleteLogo.png');
  background-size: 50px;
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

translate-box {
  width: 60%;
  font-size: 2em;
}

textarea {
  width: 50%;
  font-size: .75em;
  border-radius: 3px;
  background-color: #fffeef;
}